
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header{
    width: 80%;
    display: flex;
    
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.ul1{
    display: flex;
}


li{
    margin-right: 20px;
}
.section1 {
    width: 80%;
    margin: 0 auto;
}
.image1{
    width: 100%;

}
.section2{
    width: 80%;
    margin: 0 auto;
    border: solid black 1px;
    margin-top: 50px;
}
.maindiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section2 div div{
    max-width: 400px;
    width: 100%;
    

}
.section2 div div img{
    width: 100%;
}

    

